[submodule "classroom/homautuanlinh/angular2FresherEuroland"]
	path = classroom/homautuanlinh/angular2FresherEuroland
	url = https://github.com/linhho/angular2FresherEuroland.git
[submodule "classroom/nguyenduykhanh/euroTrainJS"]
	path = classroom/nguyenduykhanh/euroTrainJS
	url = https://github.com/yaibait/euroTrainJS.git
