#user_list_table tbody th:nth-child(1){
  width: 7%
}

#user_list_table tbody th:nth-child(2){
  width: 15%
}

#user_list_table tbody th:nth-child(3){
  width: 13%
}

#user_list_table tbody th:nth-child(4){
  width: 10%
}

#user_list_table tbody th:nth-child(5){
  width: 10%
}

#user_list_table tbody th:nth-child(6){
  width: 20%
}

#user_list_table tbody th:nth-child(7){
  width: 10%
}

#user_list_table tbody th:nth-child(8){
  width: 10%
}

#user_list_table tbody th:first-child,
#user_list_table tbody th:last-child,
#user_list_table tbody tr td:first-child,
#user_list_table tbody tr td:last-child{
  text-align: center;
}