<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>{{pageTitle}}</span>
</div>

<div class="pad20"></div>
<div class="sexy-list">
    <!-- Filter   -->
    <span>Search</span>
    <input class="search" type='text' />
    <h3>Filter by keyword: </h3>

    <!-- table -->
    <div class='has-error'> </div>
    <table>
        <thead>
            <tr>
                <th>
                    <button class='btn btn-primary'>
                                Show info
                    </button>
                </th>
                <th width="25%">Name</th>
                <th width="20%">Info</th>
                <th width="10%">Catse</th>
                <th width="10%">Code</th>
                <th width="15%">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img width="100px" src="./mock_data/images/lothiton.jpg">
                </td>
                <td><a>
                            LO THI TON
                        </a>
                </td>
                <td>12313</td>
                <td>312312</td>
                <td>423434</td>
                <td>
                    *****
                </td>
            </tr>
        </tbody>
    </table>
</div>