<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>{{pageTitle}}</span>
</div>

<div class="pad20"></div>
<div class="sexy-list">
    <!-- Filter   -->
    <span>Search</span>
    <input class="search" type='text' />
    <h3>Filter by keyword: </h3>

    <!-- table -->
    <div class='has-error'> </div>
    <table>
        <thead>
            <tr>
                <th>
                    <button (click)="showInfo()">
                                Show info
                    </button>
                </th>
                <th width="25%">Name</th>
                <th width="20%">Metric</th>
                <th width="10%">Catse</th>
                <th width="10%">Code</th>
                <th width="15%">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sexy of sexies">
                <td>
                    <img *ngIf="flagShow" width="100px" src="{{sexy.image}}">
                </td>
                <td>
                    <p>
                        <a>{{sexy.name}}</a></p>
                    <p>Tuoi: {{sexy.info.age}}</p>
                    <p>Slogan: {{sexy.info.desc}}</p>
                </td>
                <td>
                    <p>v1: </p>
                    <p>v2: </p>
                </td>
                <td>2000</td>
                <td><span *ngIf="flagShow">{{sexy.code | lowercase }}</span></td>
                <td>
                    500
                </td>
            </tr>
        </tbody>
    </table>
</div>