<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>{{pageTitle}}</span>
</div>

<div class="pad20"></div>

<audio controls>
  <source src="mock_data/minion.mp3" type="audio/mpeg">
</audio>

<div class="sexy-list">
    <!-- Filter   -->
    <span>Search </span>
    <input class="search" type='text' [(ngModel)]="filterWord" />
    <h3>Filter by keyword: {{filterWord}}</h3>

    <!-- table -->
    <div class='has-error'> </div>
    <table>
        <thead>
            <tr>
                <th>
                    <button *ngIf="flagShow" (click)="showInfo()">
                                Show info
                    </button>
                    <button *ngIf="!flagShow" (click)="showInfo()">
                                Hide info
                    </button>
                </th>
                <th width="25%">Name</th>
                <th width="20%">Metric</th>
                <th width="10%">Catse</th>
                <th width="10%">Code</th>
                <th width="15%">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sexy of sexies | filterSexy:filterWord">
                <td>
                    <img *ngIf="flagShow" [src]="sexy.image" [style.width.px]="widthImage">
                </td>
                <td>
                    <p>
                        <a [routerLink]="[ '/sexydetail', sexy.id ]">{{sexy.name}}</a></p>
                    <p>Tuoi: {{sexy.info.age}}</p>
                    <p>Slogan: {{sexy.info.desc}}</p>
                </td>
                <td>
                    <p>v1: </p>
                    <p>v2: </p>
                    <p>v3: </p>
                    <p>Height: </p>
                </td>
                <td> {{sexy.catse | currency:'VND':true:'.2'}}</td>
                <td><span *ngIf="flagShow">{{sexy.code | lowercase }}</span></td>
                <td>
                    <vote-ui [voteNr]="sexy.vote" (voteHaha)="clickVote($event)"></vote-ui>
                </td>
            </tr>
        </tbody>
    </table>
</div>