<!-- video -->
<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>{{pageTitle}}</span>
</div>
<iframe width="100%" height="630" src="https://www.youtube.com/embed/0ZxuOwlkRhU" frameborder="0" allowfullscreen></iframe>

<!-- top -->
<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>Top 3</span>
</div>
<div class="blogGallery">
    <ul class="listItemGall">
        <li>
            <div class="itemblogImg">
                <a href="http://hoahau.tienphong.vn/hoa-hau-2016/ve-dep-tuoi-sang-rang-ngoi-cua-a-hau-2-thuy-dung-1046535.tpo">
                    <img src="http://images.tienphong.vn/Uploaded/minhhanh/2016_08_29/Huynh_Thi_Thuy_Dung_bikini_KCEP.jpg.ashx?w=330&amp;h=200&amp;crop=auto" width="330" height="200" alt="Vẻ đẹp tươi sáng rạng ngời của Á hậu 2 Thùy Dung">
                </a>
            </div>
            <h3 class="itemTitle"><a class="clorBk" href="http://hoahau.tienphong.vn/hoa-hau-2016/ve-dep-tuoi-sang-rang-ngoi-cua-a-hau-2-thuy-dung-1046535.tpo">THUY DUNG<i class="sprite icon-hasimage"></i> </a></h3>
        </li>

        <li>
            <div class="itemblogImg">
                <a href="http://hoahau.tienphong.vn/hoa-hau-2016/nhin-gan-nhan-sac-a-hau-cao-1m80-thanh-tu-1046538.tpo">
                    <img src="http://images.tienphong.vn/Uploaded/minhhanh/2016_08_29/Ngo_Thanh_Thanh_Tu_bikini_2_DWXE.jpg.ashx?w=330&amp;h=200&amp;crop=auto" width="330" height="200" alt="Nhìn gần nhan sắc Á hậu cao 1m80 Thanh Tú">
                </a>
            </div>
            <h3 class="itemTitle"><a class="clorBk" href="http://hoahau.tienphong.vn/hoa-hau-2016/nhin-gan-nhan-sac-a-hau-cao-1m80-thanh-tu-1046538.tpo">THANH TU<i class="sprite icon-hasimage"></i> </a></h3>
        </li>

        <li class="lastitem">
            <div class="itemblogImg">
                <a href="http://hoahau.tienphong.vn/hoa-hau-2016/can-canh-nhan-sac-tan-hoa-hau-viet-nam-2016-do-my-linh-1046539.tpo">
                    <img src="http://images.tienphong.vn/Uploaded/minhhanh/2016_08_28/do_my_linh_bikini_KNYY.jpg.ashx?w=330&amp;h=200&amp;crop=auto" width="330" height="200" alt="Cận cảnh nhan sắc tân Hoa hậu Việt Nam 2016 Đỗ Mỹ Linh">
                </a>
            </div>
            <h3 class="itemTitle"><a class="clorBk" href="http://hoahau.tienphong.vn/hoa-hau-2016/can-canh-nhan-sac-tan-hoa-hau-viet-nam-2016-do-my-linh-1046539.tpo">MY LINH<i class="sprite icon-hasimage"></i> </a></h3>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>